In [16]:
import pandas as pd
import plotly.express as px
import json

# Import Data

In [2]:
# sample_data_frame = pd.read_json('../data/sample_new_york_data.json')
review_file_path = '../data/review-Colorado_10.json'
df_review_data = pd.read_json(review_file_path, lines=True)
# print(df_review_data)
# df_review_data.head()

In [3]:
metadata_file_path = '../data/meta-Colorado.json'

df_ratings = pd.read_json(metadata_file_path, lines=True)

# df_ratings.head()

# Data Processing

In [4]:

df_ratings = df_ratings[df_ratings['category'].astype(str).str.contains('restaurant', case=False, na=False)]
df_ratings = df_ratings.drop_duplicates(subset='gmap_id')
# df_ratings.head()

In [5]:
df_merged = pd.merge(df_review_data, df_ratings, on='gmap_id', how='inner')
# df_merged.head()

In [6]:
picture_data_frame = pd.DataFrame(df_merged, columns=['rating', 'pics'])
picture_data_frame['pics'] = picture_data_frame['pics'].apply(lambda x: len(x) if x is not None else 0)
picture_data_frame.rename(columns={'rating': 'Rating', 'pics': 'Num Pictures'}, inplace=True)
picture_data_frame.head()

   Rating  Num Pictures
0       5             1
1       5             1
2       5             0
3       5             0
4       5             0

In [10]:
# Calculate total count of each rating
rating_counts = picture_data_frame['Rating'].value_counts().sort_index()

# Calculate average number of pictures for each rating
avg_pictures_per_rating = picture_data_frame.groupby('Rating')['Num Pictures'].mean()

summary_data_frame = pd.DataFrame({'Count': rating_counts, 'Avg. Num Pictures': avg_pictures_per_rating}).reset_index().rename(columns={'index': 'Rating'})

summary_data_frame.head()

   Rating    Count  Avg. Num Pictures
0       1   219691           0.038399
1       2   164592           0.036946
2       3   413943           0.036889
3       4   924564           0.057051
4       5  2192598           0.087330

In [17]:
# Plot total count
fig1 = px.bar(summary_data_frame, x='Rating', y='Count', title='Total Count of Each Rating')
fig1.update_layout(xaxis_title="Rating", yaxis_title="Total Count", uniformtext_mode='hide')
fig1.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [12]:
# Plot avg. num pictures
fig2 = px.bar(summary_data_frame, x='Rating', y='Avg. Num Pictures', title='Average Number of Pictures per Rating')
fig2.update_layout(xaxis_title="Rating", yaxis_title="Average Number of Pictures", uniformtext_mode='hide')
fig2.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
summary_data_frame

   Rating   Count  Avg. Num Pictures
0       1   43450           0.050012
1       2   36015           0.065445
2       3  110375           0.081223
3       4  255741           0.119414
4       5  554419           0.143637